* {box-sizing: border-box}

body{
  font-size: 16px;
  min-height: 2000px;
  padding-top: 76.8px;
}

.main{
  padding-top: 20px;
}

/*
################################################
  screen spliting 
################################################
*/
@media (min-width: 992px) {
  div.sidebar {
    padding-right: 25px;
    position: fixed;
  }
  div.main {
    padding-left: 25px; 
    padding-top: 0px;
  }
}
@media (min-width: 992px) {
  div.sidebar {
    width: 235px;
  }
}
@media (min-width: 1200px) {
  div.sidebar {
    width: 285px;
  }
}

/*
################################################
  navbar 
################################################
*/
.navbar-default{
  padding: 2px 0;
  /* position: fixed; */
  top: 0;
  width: 100%;
  background-color: #101010;
  border-radius: 0;
  border-color: #101010;
  color: white;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand{
  color: #bbb;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: whitesmoke;
}
.navbar-default .navbar-toggle{
  border-color: #101010;
}
.navbar-default .navbar-toggle .icon-bar{
  color: #bbb;
  background-color: #bbb;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #101010;
  color: whitesmoke;
}

/*
################################################
  categories sidebar
################################################
*/
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  text-shadow: 0 -1px 0 #286090;
  background-image: -webkit-linear-gradient(top,#337ab7 0,#2b669a 100%);
  background-image: -o-linear-gradient(top,#337ab7 0,#2b669a 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#2b669a));
  background-image: linear-gradient(to bottom,#337ab7 0,#2b669a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2b669a', GradientType=0);
  background-repeat: repeat-x;
  border-color: #2b669a;
}
.nav-pills>li>a {
  border-radius: 0px;
  color: #101010;
}
.nav-pills>li:first-child a {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.nav-pills>li:last-child a {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.nav-pills>li a>.badge {
  float: right;
}

/*
################################################
  product gallery
################################################
*/
.product-row div{
  padding-top: 20px;
}
.product-row div img{
  width: 100%;
  height: auto;
}

